.center{
	text-align: center;
}

body{
	background: #e6e6e6;
}

.content-logErr{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

.jumbotron{
	text-align: center;
	width: 70%;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #1f4e5f;
	color: white;
	
}

.container-login{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 40%;
	background: #e6e6e6;
	padding: 30px;
	color: #000000;
	border-radius: 10px 10px;
}

.color-btnSesion{
	background: #1f4e5f;
	color: White;
}

.color-btnSesion:hover{
	background: #29657B;
	color: White;
}

.formularios{
	margin-top: 50px;
	margin-bottom: 50px;
	background: #e6e6e6;
	padding: 20px;
	color: #000000;
	border-radius: 10px;
	width: 70%;
}

.formulariosMod{
	margin-top: 50px;
	margin-bottom: 50px;
	background: #1f4e5f;
	padding: 20px;
	color: White;
	border-radius: 10px;
	width: 70%;
}


.btn-center{
	display: flex;
  	justify-content: center;
}

.tablas{
	margin-top: 50px;
	margin-bottom: 50px;
	background: rgb(207, 207, 207);
	padding: 20px;
	color: black;
	border-radius: 10px;
}

thead{
	background: #1f4e5f;
	color: white
}

tbody{
	color: black;
}

.tablas-ventana{
	background: #f9f7f7;
}

.nuevoDato{
	text-align: left;
}

.nuevoDato > a{
	background: #f9f7f7;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #112d4e;
}

.bg-menu{
	background: #1f4e5f;
}

.bg-menu2{
	background: #1f4e5f;
}

.bg-menu2 .navbar-dark .navbar-nav .nav-link{
	color: white;
}

nav > a > img{
	width: 150px;
	height: 75px;
	border-radius: 20px;
}

.materiaForm{
	width: 40%;
}

.tabla2{
	margin-left: 20px;
	margin-right: 20px;
}

.alumnoFrm{
	width: 40%;
	margin-left: 20px;
	margin-top: 10px;
}

.dataTables_length{
	text-align: left;
	margin-bottom: 20px;
}

.dataTables_length select{
	float: left;
}

.dataTables_filter{
	float: right;
	text-align: left;
}

.dataTables_paginate{
	display: flex;
	justify-content: flex-end;
}

.page-item.active .page-link{
	background: #17a2b8;
}

.btnAceptar{
	margin-left: 20px;
	margin-right: 20px;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

input[type=number] {

    -moz-appearance:textfield;

}

/*------------------------------MAPA-------------------------------**/

#map {
	bottom: 0; 
	width: 96%; height: 95%; 
	border-radius: 10px 10px;
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;
	}

#mapContainer{
	height: 80vh;
}
 


.info-extra-container{
	
		width: 80%;
	padding: 20px;
	background: white;
	color: black;
	margin-left: 10%;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	border-radius: 20px;
}

.info-extra-container ul{
	text-align: left;
}

.info-extra-container h1{
	font-size: 2.1em;
}

.info-extra-container h3{
	background: grey;
	padding: 10px;
	border-radius: 20px;
}

.info-extra-container tbody tr th:first-child {
	text-align: left;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background: #fd7e14;
	color: black;
	font: bold;
}

.nav-pills a{
	color: white;
}

.filtro h2{
	text-align: center;
	padding: 4px;
	border-radius: 10px;
	background: #1f4e5f;
	color: white;
}

.filtro{
	text-align: left;		
}

.btn-filtro{
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.btn-regresar{
	background: #b02a37;
	color: white;
}

.btn-regresar:hover{
	background: #dc3545;
	color: white;
}

.btn-tabla{
	background: #ca6510;
	color: white;
}

.btn-tabla:hover{
	background: #fd7e14;
	color: white;
}

.btn-tabla2{
	background:#b02a37;
	color: white;
}

.btn-tabla2:hover{
	background: #dc3545;
	color: white;
}

.page-item.active .page-link{
	background: #ca6510;
}

hr{
	border: 2px solid black;
	background: black;
}

#linea-form{
	border: 2px solid white;
	background: white;
}

.tabla-i {
  	text-align: left;
}

.info-filtro{
	float: right;
	border: black 2px dotted;
	padding: 20px;
	margin-top: -370px;
	margin-right: 50px;
	width: 600px;
}
