.center{
	text-align: center;
}

body{
	background: #e6e6e6;
}

.content-logErr{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85vh;
}

.jumbotron{
	text-align: center;
	width: 70%;
	margin-top: 100px;
	margin-bottom: 100px;
	background-color: #1f4e5f;
	color: white;
	
}

.container-login{
	margin-top: 100px;
	margin-bottom: 100px;
	width: 40%;
	background: #e6e6e6;
	padding: 30px;
	color: #000000;
	border-radius: 10px 10px;
}

.color-btnSesion{
	background: #1f4e5f;
	color: White;
}

.color-btnSesion:hover{
	background: #29657B;
	color: White;
}

.formularios{
	margin-top: 50px;
	margin-bottom: 50px;
	background: #e6e6e6;
	padding: 20px;
	color: #000000;
	border-radius: 10px;
	width: 70%;
}

.formulariosMod{
	margin-top: 50px;
	margin-bottom: 50px;
	background: #1f4e5f;
	padding: 20px;
	color: White;
	border-radius: 10px;
	width: 70%;
}


.btn-center{
	display: flex;
  	justify-content: center;
}

.tablas{
	margin-top: 50px;
	margin-bottom: 50px;
	background: rgb(207, 207, 207);
	padding: 20px;
	color: black;
	border-radius: 10px;
}

thead{
	background: #1f4e5f;
	color: white
}

tbody{
	color: black;
}

.tablas-ventana{
	background: #f9f7f7;
}

.nuevoDato{
	text-align: left;
}

.nuevoDato > a{
	background: #f9f7f7;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #112d4e;
}

.bg-menu{
	background: #1f4e5f;
}

.bg-menu2{
	background: #1f4e5f;
}

.bg-menu2 .navbar-dark .navbar-nav .nav-link{
	color: white;
}

nav > a > img{
	width: 150px;
	height: 75px;
	border-radius: 20px;
}

.materiaForm{
	width: 40%;
}

.tabla2{
	margin-left: 20px;
	margin-right: 20px;
}

.alumnoFrm{
	width: 40%;
	margin-left: 20px;
	margin-top: 10px;
}

.dataTables_length{
	text-align: left;
	margin-bottom: 20px;
}

.dataTables_length select{
	float: left;
}

.dataTables_filter{
	float: right;
	text-align: left;
}

.dataTables_paginate{
	display: flex;
	justify-content: flex-end;
}

.page-item.active .page-link{
	background: #17a2b8;
}

.btnAceptar{
	margin-left: 20px;
	margin-right: 20px;
}

input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

input[type=number] {

    -moz-appearance:textfield;

}

.info-extra-container{
	width: 80%;
	padding: 20px;
	background: white;
	color: black;
	margin-left: 10%;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

.info-extra-container ul{
	text-align: left;
}

.info-extra-container h1{
	font-size: 2em;
}

.info-extra-container tbody tr th:first-child {
	text-align: left;
}
