<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Centro Escolar</title>
<link rel="icon" type="image/png" href="img/icon.png" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-menu"> 
			<a class="navbar-brand" href="#"><img alt="" src="img/icon.png"></a>
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="tablaUsuario">Usuarios</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="tablaCentroEscolar">Centros Escolares</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="filtrar">Mapa de centros escolares</a>
		      </li>
		    </ul>
		  </div>
		  <div class="form-inline">
	            <a class="btn btn-secondary btn-light" type="button" aria-haspopup="true" aria-expanded="false" href="/logout"> 
	                    Cerrar Sesión
	                  </a>
		  </div>
		</nav>
	
		<div class="container formulariosMod">
			<form th:action="@{/registroCentroEscolarProcesar}" th:object="${centroEscolar}" method="post">
				<div class="row">
					<div class="col-6">
						<label for="exampleFormControlInput1" class="form-label">Nombre de Centro escolar</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" th:value="*{nombre}" disabled>	
					</div>
				</div>
				<br>
				
				<ul class="nav nav-pills nav-fill">
				  <li class="nav-item">
				    <a class="nav-link" aria-current="page" th:href="@{/apoyo?id=} + *{idCentroEscolar}" >Apoyo</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/necesidades?id=} + *{idCentroEscolar}" >Necesidades especiales</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/servicios?id=} + *{idCentroEscolar}" >Servicios</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/poblacion?id=} + *{idCentroEscolar}"  tabindex="-1">Población Estudiantil</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" th:href="@{/equipos?id=} + *{idCentroEscolar}"  tabindex="-1">Equipos</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/infraestructura?id=} + *{idCentroEscolar}"  tabindex="-1">Infraestructura</a>
				  </li>
				</ul>
				
				<br>
				
				<div class="info-extra-container">
					<h1>Equipos que posee el centro escolar</h1>
					<br>
					<table class="table table-striped">
							<thead>
							    <tr>
							      <th scope="col">Nombre del equipo</th>
							      <th scope="col">Buenas condiciones</th>
							      <th scope="col">Malas condiciones</th>
							      <th scope="col">Arrendadas</th>
							      <th scope="col">Utilizadas</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each=item:${equipos}>
							      <th scope="row" th:text="${item.equipo.nombre_equipo}"></th>
							      <td th:text="${item.buena_condicion}"></td>
							      <td th:text="${item.mala_condicion}"></td>
							      <td th:text="${item.arrendada}"></td>
							      <td th:text="${item.utilizadas}"></td>
							    </tr>
							  </tbody>				  
					</table>
				
				</div>
				
				<div class="btn-center">
					<a href="/tablaCentroEscolar" class="btn color-btnSesion btn-regresar">Regresar</a>
				</div>
			</form>
	</div>
</body>

	<script type="text/javascript">
		var a = document.getElementById("limpiar");
		a.onclick = limpiar
		if(document.getElementById("id").value != ""){
			document.getElementById("limpiar").style.display="none";	
		}
		function limpiar(){
			document.getElementById("Select1").options[0].selected = true;
			document.getElementById("nombre").value = "";
			document.getElementById("descripcion").value = "";
			document.getElementById("estado").checked=0;
		}
	</script>

</html>