<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mapa</title>

<!-- Hojas de estilo de bootstrap y propio -->
<link rel="icon" type="image/png" href="img/icono.ico" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   
   <style>
   #tabla{display: none;} 
   </style>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-menu">
		<a class="navbar-brand" href="#"><img alt="" src="img/icon.png"></a>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					href="tablaCentroEscolar">Regresar</a></li>
					
			</ul>
		</div>
		<div class="form-inline">
			<a class="btn btn-secondary btn-light" type="button"
				aria-haspopup="true" aria-expanded="false" href="/logout">
				Cerrar Sesión </a>
		</div>
	</nav>
	
	<div class="row">
	
		<div class = "col " id="mapContainer">
			<div id = "map"></div>
		</div>
		
	
	</div>
	<table id="tabla" class="table table-striped">
							<thead>
							    <tr>
							      <th scope="col">Nombre del equipo</th>
							      <th scope="col">Buenas condiciones</th>
							      <th scope="col">Malas condiciones</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr th:each=item:${escuelas}>
							      <th class= "nombre" scope="row" th:text="${item.nombre}"></th>
							      <td class="longitud" th:text="${item.latitud}"></td>
							      <td class="latitud" th:text="${item.longitud}"></td>
							    </tr>
							  </tbody>				  
	</table>
	<!-- <div id = "map"></div>  -->
	
	<script type="text/javascript">
	
		
		var map = L.map('map').setView([13.835401, -88.850759], 8.50);
		
		L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=hyDpsRpWwvGRHsgpRo0O', {
			attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
		}).addTo(map);
		
		var myIcon = L.icon({
		    iconUrl: 'img/pin.png',
		    iconSize: [20, 30],
		    iconAnchor: [22, 30],
		    popupAnchor: [-20, -26]});
		
		var variable = document.querySelectorAll("tbody tr");
		var i = 0;
		variable.forEach(
			function(escuelas){
				/*console.log(document.getElementsByClassName("longitud")[i].innerText +"  "+ document.getElementsByClassName("latitud")[i].innerText);*/
				var marker = L.marker([document.getElementsByClassName("longitud")[i].innerText, document.getElementsByClassName("latitud")[i].innerText], {icon: myIcon}).addTo(map);
				marker.bindPopup(document.getElementsByClassName("nombre")[i].innerText);

				i += 1;
			}	
		)

	</script>
	
</body>	



</html>
