<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Centro Escolar</title>
<link rel="icon" type="image/png" href="img/icono.ico" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-menu2"> 
			<a class="navbar-brand" href="#"><img alt="" src="img/icon.png"></a>
		  <div style="width: 100%;text-align: right">
	            <a class="btn btn-secondary btn-light" type="button" aria-haspopup="true" aria-expanded="false" href="/logout"> 
	                    Cerrar Sesión
	                  </a>
		  </div>
		 </nav>
	
		<div class="container formulariosMod">
			<h1 class="center">Centro Escolar</h1>
			<form th:action="@{/registroCentroEscolarProcesar}" th:object="${centroEscolar}" method="post">
				
				<br>
				
				<ul class="nav nav-pills nav-fill">
				  <li class="nav-item">
				    <a class="nav-link" aria-current="page" th:href="@{/apoyo?id=} + *{idCentroEscolar}" >Apoyo</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/necesidades?id=} + *{idCentroEscolar}" >Necesidades especiales</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/servicios?id=} + *{idCentroEscolar}" >Servicios</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link active" th:href="@{/poblacion?id=} + *{idCentroEscolar}"  tabindex="-1">Población Estudiantil</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/equipos?id=} + *{idCentroEscolar}"  tabindex="-1">Equipos</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" th:href="@{/infraestructura?id=} + *{idCentroEscolar}"  tabindex="-1">Infraestructura</a>
				  </li>
				</ul>
				
				<br>				
				<div class="info-extra-container">
					<h1>Total de alumnos del centro escolar</h1>
					<br>
					<form th:object="${poblacion}" method="post">
						<div class="row">
							<div class="col-6">
							  <label for="exampleFormControlInput1" class="form-label">Alumnos de parvularia</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" th:value="*{parvularia}" disabled>
							</div>
							<div class="col-6">
							  <label for="exampleFormControlInput1" class="form-label">Alumnos de ciclo I</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" th:value="*{ciclo_I}" disabled>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-6">
							  <label for="exampleFormControlInput1" class="form-label">Alumnos de ciclo II</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" th:value="*{ciclo_II}" disabled>
							</div>
							<div class="col-6">
							  <label for="exampleFormControlInput1" class="form-label">Alumnos de ciclo III</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" th:value="*{ciclo_III}" disabled>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-6">
							  <label for="exampleFormControlInput1" class="form-label">Alumnos de eduación media</label>
							  <input type="email" class="form-control" id="exampleFormControlInput1" th:value="*{educacion_media}" disabled>
							</div>
						</div>
					</form>
				</div>
				
				<div class="btn-center">
					<a href="/tablaCentroEscolar" class="btn color-btnSesion">Regresar</a>
				</div>
			</form>
	</div>
</body>

	<script type="text/javascript">
		var a = document.getElementById("limpiar");
		a.onclick = limpiar
		if(document.getElementById("id").value != ""){
			document.getElementById("limpiar").style.display="none";	
		}
		function limpiar(){
			document.getElementById("Select1").options[0].selected = true;
			document.getElementById("nombre").value = "";
			document.getElementById("descripcion").value = "";
			document.getElementById("estado").checked=0;
		}
	</script>

</html>