<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Centro Escolar</title>
<link rel="icon" type="image/png" href="img/icono.ico" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-menu2"> 
			<a class="navbar-brand" href="#"><img alt="" src="img/icon.png"></a>
		  <div style="width: 100%;text-align: right">
	            <a class="btn btn-secondary btn-light" type="button" aria-haspopup="true" aria-expanded="false" href="/logout"> 
	                    Cerrar Sesión
	                  </a>
		  </div>
		 </nav>
	
		<div class="container formulariosMod">
			<h1 class="center">Centro Escolar</h1>
			<form th:action="@{/registroCentroEscolarProcesar}" th:object="${centroEscolar}" method="post">
				<div class="form-group">
					<input type="hidden"
						class="form-control" id="id" 
						th:field="*{idCentroEscolar}">
				</div>
				<div class="row">
					<div class="col-6 form-group">
						<label for="nombre">Codigo del Centro Escolar</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{idCentroEscolar}" disabled> 
					</div>
				</div>
				
				<div class="row">
					<div class="col form-group">
						<label for="nombre">Nombre</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{nombre}" disabled> 
					</div>
					<div class="col form-group">
						<label for="nombre">NPI</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{nip}" disabled> 
					</div>
				</div>
				
				<div class="row">
					<div class="col form-group">
						<label for="nombre">Sector</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:value="${sector}" disabled> 
					</div>
					<div class="col form-group">
						<label for="nombre">Zona</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:value="${zona}" disabled> 
					</div>
				</div>
					
				<div class="row">
					<div class="col form-group">
						<label for="nombre" class="form-label">Dirección</label>
  						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{direccion}" disabled></textarea>
					</div>
				</div>
				
				<div class="row">
					<div class="col form-group">
						<label for="nombre">Numero telefonico</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{numero_telefonico}" disabled> 
					</div>
					<div class="col form-group">
						<label for="nombre">Numero de fax</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{numero_fax}" disabled> 
					</div>
				</div>
				
				<div class="row">
					<div class="col form-group">
						<label for="nombre">Correo electronico</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{correo_electronico}" disabled> 
					</div>
					<div class="col form-group">
						<label for="nombre">Municipio</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{municipio.nombreMunicipio}" disabled> 
					</div>
				</div>
				
				<div class="row">
					<div class="col form-group">
						<label for="nombre">Numero de aulas</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{numero_aula_total}" disabled> 
					</div>
					<div class="col form-group">
						<label for="nombre">Numero de otros espacios</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{numero_otros_espacios_total}" disabled> 
					</div>
				</div>
				
				<div class="row">
					<div class="col form-group">
						<label for="nombre">Latitud</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{latitud}" disabled> 
					</div>
					<div class="col form-group">
						<label for="nombre">Longitud</label> 
						<input type="text"
							class="form-control" id="nombre"
							th:field="*{longitud}" disabled> 
					</div>
				</div>
				
				<div class="btn-center">
					<a href="/tablaCentroEscolar" class="btn color-btnSesion">Regresar</a>
					<a id="limpiar" class="btn color-btnSesion">Limpiar</a>
				</div>
			</form>
	</div>
</body>

	<script type="text/javascript">
		var a = document.getElementById("limpiar");
		a.onclick = limpiar
		if(document.getElementById("id").value != ""){
			document.getElementById("limpiar").style.display="none";	
		}
		function limpiar(){
			document.getElementById("Select1").options[0].selected = true;
			document.getElementById("nombre").value = "";
			document.getElementById("descripcion").value = "";
			document.getElementById("estado").checked=0;
		}
	</script>

</html>